@media only screen and (max-width: 375px) {
    body {
        padding: 0;
        margin: 0;
        font-family: 'Space Mono', sans-serif;
    }
    /* Top Row */
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.5fr;
        grid-template-areas: "top-section" "main";
        border-radius: 2.625rem 2.625rem;
    }
    .top-section {
        background-color: hsl(185, 41%, 84%);
        grid-area: top-section;
        text-align: center;
        color: hsl(184, 14%, 56%);
    }
    span {
        display: block;
        margin-top: 0;
    }
    /* Middle Row */
    .leftside {
        height: 0;
        width: 0;
    }
    .main-div {
        background-color: #fff;
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr .78fr;
        grid-template-areas: "input" "display";
        border-radius: 2.625rem 2.625rem;
        position: relative;
    }
    /* Input Section */
    .input-div {
        grid-area: input;
        background-color: #fff;
        width: 75%;
        height: 100%;
        margin: 1rem auto 0 auto;
        border-radius: 25px 25px 0 0;
    }
    .bill-input {
        margin: 0 auto 0 auto;
    }
    label {
        display: block;
        color: hsl(184, 14%, 56%)
    }
    /* Icons */
    .fa-dollar-sign {
        position: absolute;
        top: 3.25rem;
        left: 3.5rem;
        color: hsl(184, 14%, 56%);
    }
    .fa-user {
        position: absolute;
        top: 21.75rem;
        left: 3.5rem;
        color: hsl(184, 14%, 56%);
    }
    /* Inputs */
    #bill-amount,
    #people {
        width: 95%;
        height: 10%;
        padding: 0.5rem;
        border-radius: .25rem;
        outline: none;
        border: none;
        background-color: hsl(189, 41%, 97%);
        font-weight: 400;
        text-align: end;
        font-size: 1.25rem;
        z-index: -1;
        font-family: 'Space Mono', sans-serif;
        font-weight: 700
    }
    #bill-amount {
        margin-bottom: 1rem;
    }
    /* Input Buttons */
    .btn-grid {
        margin: 0 auto 0 auto;
        display: grid;
        grid-template-columns: 8rem 8rem;
        grid-template-rows: 3rem 3rem 3rem;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }
    /* Normal Buttons */
    .btn-btn {
        width: 8rem;
        height: 2.75rem;
        background-color: hsl(183, 100%, 15%);
        border: none;
        border-radius: 0.25rem;
        font-family: 'Space Mono', sans-serif;
        font-size: 1.25rem;
        color: hsl(0, 0%, 100%);
    }
    /* Custom Input Button */
    #custom-btn {
        width: 8rem;
        height: 2.75rem;
        background-color: hsl(189, 41%, 97%);
        border: none;
        border-radius: 0.25rem;
        font-family: 'Space Mono', sans-serif;
        font-size: 1.25rem;
        padding: 0;
        text-align: center;
    }
    #for-label {
        margin: 1rem auto 0 auto;
    }
    /* Output Section */
    #total {
        grid-area: display;
    }
    .output {
        background-color: hsl(183, 100%, 15%);
        width: 75%;
        height: 105%;
        margin: 2rem auto 0 auto;
        border-radius: 1rem;
        position: relative
    }
    #heading1 {
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        color: #fff;
    }
    #heading2 {
        display: inline-block;
        /* margin-left: 1rem;
        margin-bottom: 0; */
        position: absolute;
        top: 5rem;
        left: 1rem;
        color: #fff;
    }
    #tip-amount {
        /* margin: 0 0 0 2rem; */
        display: inline-block;
        /* justify-content: end; */
        position: absolute;
        top: 1rem;
        left: 10rem;
        margin: 0;
        color: hsl(172, 67%, 45%);
    }
    #total-amount {
        /* margin: 0 0 0 2rem; */
        display: inline-block;
        /* justify-content: end; */
        position: absolute;
        top: 4.5rem;
        left: 10rem;
        color: hsl(172, 67%, 45%);
    }
    #p1 {
        position: absolute;
        top: 2rem;
        left: 1rem;
        color: hsl(184, 14%, 56%)
    }
    #p2 {
        position: absolute;
        top: 6.5rem;
        left: 1rem;
        color: hsl(184, 14%, 56%)
    }
    #reset {
        width: 85%;
        margin-top: 1rem;
        margin-left: 1rem;
        height: 2.75rem;
        border: none;
        border-radius: .25rem;
        font-family: 'Space Mono', sans-serif;
        font-size: 1.25rem;
        position: absolute;
        top: 10rem;
    }
    /* Hover and Avtice States */
    #reset:hover,
    .btn-btn:hover {
        background-color: hsl(172, 49%, 67%);
    }
    #bill-amount:focus,
    #people:focus,
    #custom-btn:focus {
        outline: none !important;
        border: 1px solid hsl(172, 67%, 45%);
    }
    .warning {
        color: rgb(255, 0, 0);
        font-size: .95rem;
        position: absolute;
        top: 19.55rem;
        left: 13.5rem;
    }
    .input-warning {
        border: 1px solid hsl(0, 100%, 50%) !important;
    }
    .bottom {
        grid-area: bottom-div;
        background-color: hsl(185, 41%, 84%);
        width: 0;
        height: 0;
    }
}